.dock-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.dock {
    background-color: rgba(156, 156, 156, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 15px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    z-index: 99999999;
}

#default-dock-app {
    display: none;
}

.dock-item {
    height: 100%;
    aspect-ratio: 1;
    margin: 3px;
    transition: 150ms;
    position: relative;
}

.dock-separator {
    background-color: rgba(92, 92, 92, 0.822);
    width: 1px;
    height: 80%;
    margin: 2px;
    display: none;
}

.dock_item_open_animation {
    animation: dock_app_open 2s ease-in-out forwards;
}

.dock-item:hover {
    transform: scale(1.35) translateY(-7px);
    margin: 12px;
}

.dock-item:has(+ .dock-item:hover),
.dock-item:hover + .dock-item {
    transform: scale(1.15) translateY(-3px);
}

@keyframes dock_app_open {
    10% {
        transform: translateY(-50px);
    }
    20% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    60% {
        transform: translateY(0px);
    }
}