body {
    overflow: hidden;
    margin: 0;
    background-image: url("../wallpapers/somona-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
  cursor: default;
}

.item {
    position: absolute;
    width: 200px;
    background: #6fb936;  
    color: #fff;
    overflow: hidden;  
    border-radius: 12px;  
    touch-action: none;
    user-select: none;  
    width: 200px;
    height: 100px;  
    top: 150px;
    left: 150px;
}
  
.item-content {
    position: absolute;
    left: 16px;
    top: 0px;
    right: 16px;
    bottom: 0px;
    font-size: 1.2rem;
}

.notification {
    background-color: rgba(156, 156, 156, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 15px;
    position: absolute;
    top: 45px;
    right: 10px;
    height: auto;
    width: 300px;
    padding: 15px;
    color: white;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    z-index: 99999999999;
}

.notification-show-animation {
    animation: showNotification 250ms ease-in-out forwards;
}

.notification-hide-animation {
    animation: hideNotification 250ms ease-in-out forwards;
}

.notification-contents {
    margin-left: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.notification strong {
    font-size: 20px;
}

.notification span {
    margin-top: 5px;
}

.notification:hover .close-button {
    opacity: 1;
}

.notification img {
    width: 50px;
    height: 50px;
}

.notification .close-button {
    background-color: rgba(156, 156, 156, 0.747);
    border: 1px solid rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    height: 20px;
    width: 20px;
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 10px;
    opacity: 0;
    transition: 300ms;
    background-image: url("../icons/notification_x.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.notification .close-button img {
    width: 10px;
}

.notification .close-button:active {
    filter: brightness(0.9);
}

@keyframes showNotification {
    0% {
        right: -300px;
    }

    100% {
        right: 10px;
    }
}

@keyframes hideNotification {
    0% {
        right: 10px;
    }

    100% {
        right: -300px;
    }
}

.alert-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 99999999999;
}

.alert {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    pointer-events: all;
}

.alert-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.alert-text {
    width: 85%;
}

.alert-text {
    display: flex;
    flex-direction: column;
}

.alert-text span {
    margin: 12px;
}

.alert-actions button {
    width: 50%;
    margin: 13px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #116cd5;
}

.alert-actions > button:first-child {
    margin: 13px 0 13px 13px;
    background-color: #969a9c96;
}

.alert-actions button:active {
    filter: brightness(0.9);
}

.alert-actions > button:last-child {
    margin: 13px 13px 0 13px;
}

.alert img {
    width: 80px;
    margin: 40px;
}

#launchpad-trash {
    width: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}