body {
    overflow: hidden;
    margin: 0;
    background-image: url("../wallpapers/somona-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
  cursor: default;
}

.item {
    position: absolute;
    width: 200px;
    background: #6fb936;  
    color: #fff;
    overflow: hidden;  
    border-radius: 12px;  
    touch-action: none;
    user-select: none;  
    width: 200px;
    height: 100px;  
    top: 150px;
    left: 150px;
}
  
.item-content {
    position: absolute;
    left: 16px;
    top: 0px;
    right: 16px;
    bottom: 0px;
    font-size: 1.2rem;
}